 <tr>
    <td><%=exam.course_id%></td>
    <td><%=exam.course%></td>
    <td><%=exam.date%></td>
    <td><%=exam.time.to_formatted_s(:time)%></td>
    <td><%=exam.cls%></td>
    <td><%=exam.room%></td>
</tr>