<%=render 'main/navbar'%>
<div class="content">
            <h3>Change Password</h3>
    <%=form_tag teachers_change_path,{method: :post,:class=>"change_pass"} do%>
            <%=text_field :teacher , :password_old,placeholder: "Old Passoword",required: true%><br>
            <%=text_field :teacher , :password_new,placeholder: "New Passoword",required: true%><br>
            <%=submit_tag :Change%>
        <%end%>
</div>